<div class="container container-fluid">
    <div class="row">
        <div style="padding-top: 15px;" class="hidden-xs"></div>
        <div class="hidden-xs">
            {{>account}}
        </div>
        <hr>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12 text-center">
                    <h2 style="margin-bottom: 50px;">Seja um afiliado Vendedor e faça parte de uma rede</h2>
                    <div class="col-md-5">
                        <h3 style="margin-bottom: 5px;">&nbsp;</h3>
                        <h4 style="margin-bottom: 1px;">Afiliado Vendedor</h4>
                        <div style="padding-bottom: 15px;">Empreendedores e Freelancers</div>
                        <img src="/images/crossed_price_one.jpg" />
                        <br />
                        <br />
                        <img src="/images/price_one.jpg" />
                        <br />
                        <button style="background-color: #36d9d8; margin: 15px 0;" class="btn btn-plan text-center" data-id="1" data-amount="238.80"
                            data-desc="w1buy-plano-vendedor" data-accType="seller" data-accLevel="1">Eu Quero</button>
                        <br />
                        <div style="line-height: 18px; margin: auto; width: 250px;">
                            <p>
                                <strong>Defina 5 cidades </strong>que deseja receber aviso que tem compradores procurando seu produto.
                            </p>
                            <p>
                                <strong>Defina 5 produtos </strong>por cidade para receber notificação automática de compradores.
                            </p>
                            <p>
                                <strong>Receba na hora a notificação </strong>assim que o comprador postar um anuncio com seu produto cadastrado.
                            </p>
                            <p>
                                <strong>Relatório diário </strong>de compradores nas cidades cadastradas.
                            </p>
                            <p>
                                Sua logomarca publicada em nossa página
                                <strong>GRÁTIS</strong>.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2" style="margin-top: 20%;">
                        <img src="/images/price_plus.jpg" />
                    </div>
                    <div class="col-md-5">
                        <h3 style="margin-bottom: 5px;">
                            <span class="fa fa-angle-left" style="color: #36d9d8;"></span> &nbsp;
                            <span style="color: #8a27ab;">Mais Usado</span> &nbsp;
                            <span class="fa fa-angle-right" style="color: #36d9d8;"></span>
                        </h3>
                        <h4 style="margin-bottom: 1px;">Seja Vendedor + Comprador</h4>
                        <div style="padding-bottom: 15px;">Empreendedores e Freelancers</div>
                        <img src="/images/crossed_price_two.jpg" />
                        <br />
                        <br />
                        <img src="/images/price_two.jpg" />
                        <br />
                        <button style="background-color: #8a27ab; margin: 15px 0;" class="btn btn-plan text-center" data-id="2" data-amount="357.60"
                            data-desc="w1buy-plano-vendedor-comprador" data-accType="seller-buyer" data-accLevel="1">Eu Quero</button>
                        <br />
                        <div style="line-height: 18px; margin: auto; width: 250px;">
                            <p>
                                <strong>Defina 5 cidades </strong>que deseja realizar a compra.
                            </p>
                            <p>
                                <strong>Defina 5 produtos </strong>por cada cidade.
                            </p>
                            <p>
                                <strong>Receba na hora a notificação </strong>assim que o vendedor ver seu anuncio e fizer uma proposta.
                            </p>
                            <p>
                                <strong>Receba relatório diário </strong>com todas as ofertas dos vendedores.
                            </p>
                            <p>
                                Sua logomarca publicada em nossa página
                                <strong>GRÁTIS</strong>.
                            </p>
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                    <br />
                    <br />
                    <div class="col-md-3 text-left">
                        <img src="/images/mcafee.png" alt="Banner PagSeguro" title="Compre com pagSeguro e fique sossegado" width="120">
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-default btn-buyer" onclick="javascript:location.href = '/planos-brasil'">Conheça o plano Brasil sem limites</button>
                    </div>
                    <div class="col-md-3 text-right">
                        <img src="/images/ps.png" alt="Banner PagSeguro" title="Compre com pagSeguro e fique sossegado">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>