<div class="container container-fluid">
    <div class="row">
        <div style="padding-top: 15px;" class="hidden-xs"></div>
        <div class="hidden-xs">
            {{>account}}
        </div>
        <hr>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12 text-center">
                    <h2 style="margin-bottom: 50px;">Comprar e Vender em todo o Brasil. Plano Brasil sem limites</h2>
                    <div class="col-md-12">
                        <h3 style="margin-bottom: 1px;">Afiliar Brasil</h3>
                        <div style="padding-bottom: 15px;">Vendo e Compro muito</div>
                        <img src="/images/price_brazil.jpg" />
                        <br />
                        <button style="background-color: #f26522; margin: 15px 0;" class="btn btn-plan text-center" data-id="9" data-amount="597.60"
                            data-desc="w1buy-plano-brasil" data-accType="seller-buyer" data-accLevel="3">Eu Quero</button>
                        <br />
                        <div style="line-height: 18px; margin: auto; width: 250px;">
                            <p>
                                <h4>
                                    Comprando
                                </h4>
                            </p>
                            <p>
                                <strong>Sem limites de cidades </strong>que deseja realizar a compra.
                            </p>
                            <p>
                                <strong>Sem limites de produtos </strong>por cada cidade.
                            </p>
                            <p>
                                <strong>Receba na hora a notificação </strong>assim que o vendedor ver seu anuncio e fizer uma proposta.
                            </p>
                            <p>
                                <strong>Receba relatório diário </strong>com todas as ofertas dos vendedores.
                            </p>
                            <p>
                                Tem sua logomarca publicada em nossa pagina.
                            </p>
                            <p>
                                <h4>
                                    Vendendo
                                </h4>
                            </p>
                            <p>
                                <strong>Sem limites de cidades </strong>que deseja receber aviso que tem compradores procurando seu
                                produto.
                            </p>
                            <p>
                                <strong>Sem limites de cidades </strong>para receber notificação de compradores automáticas.
                            </p>
                            <p>
                                <strong>Receba na hora a notificação </strong>assim que o comprador postar um anuncio com seu produto
                                cadastrado.
                            </p>
                            <p>
                                <strong>Receba relatório diário </strong>de compradores nas cidades cadastradas.
                            </p>
                            <p>
                                Sua logomarca publicada em nossa página
                                <strong>GRÁTIS.</strong>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 text-left">
                        <img src="/images/mcafee.png" alt="Banner PagSeguro" title="Compre com pagSeguro e fique sossegado" width="120">
                    </div>
                    <div class="col-md-6 text-center">
                        <button class="btn btn-default" onclick="javascript: window.history.back();">
                            <span class="fa fa-arrow-left"></span> &nbsp; Voltar</button>
                    </div>
                    <div class="col-md-3 text-right">
                        <img src="/images/ps.png" alt="Banner PagSeguro" title="Compre com pagSeguro e fique sossegado">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>